@page "/leagues"
@using System.Net.Http.Json
@inject HttpClient httpClient

<h1>League Tables</h1>
<MudDivider />
<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Men's">
        @foreach (var league in MensLeagueNames)
        {
            <h2>@league</h2>
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">Team</th>
                        <th scope="col">Played</th>
                        <th scope="col">Won</th>
                        <th scope="col">Drawn</th>
                        <th scope="col">Lost</th>
                        <th scope="col">Goals For</th>
                        <th scope="col">Goals Against</th>
                        <th scope="col">Goal Difference</th>
                        <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    @{int position = 0;}
                    @foreach (var team in Teams)
                    {
                        if (!teamIsVisible(league, team))
                            continue;
                        position += 1;
                        <tr>
                            <td>@position</td>
                            <td>@team.TeamName</td>
                            <td>@team.SeasonPlayed</td>
                            <td>@team.SeasonWon</td>
                            <td>@team.SeasonDrawn</td>
                            <td>@team.SeasonLost</td>
                            <td>@team.SeasonGoalsFor</td>
                            <td>@team.SeasonGoalsAgainst</td>
                            <td>@team.SeasonGoalDifference</td>
                            <td>@team.SeasonPoints</td>
                        </tr>
                    }
                </tbody>
            </table>
            <MudDivider />
        }
    </MudTabPanel>
    <MudTabPanel Text="Women's">
        @foreach (var league in WomensLeagueNames)
        {
            <h2>@league</h2>
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">Team</th>
                        <th scope="col">Played</th>
                        <th scope="col">Won</th>
                        <th scope="col">Drawn</th>
                        <th scope="col">Lost</th>
                        <th scope="col">Goals For</th>
                        <th scope="col">Goals Against</th>
                        <th scope="col">Goal Difference</th>
                        <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    @{int position = 0;}
                    @foreach (var team in Teams)
                    {
                        if (!teamIsVisible(league, team))
                            continue;
                        position += 1;
                        <tr>
                            <td>@position</td>
                            <td>@team.TeamName</td>
                            <td>@team.SeasonPlayed</td>
                            <td>@team.SeasonWon</td>
                            <td>@team.SeasonDrawn</td>
                            <td>@team.SeasonLost</td>
                            <td>@team.SeasonGoalsFor</td>
                            <td>@team.SeasonGoalsAgainst</td>
                            <td>@team.SeasonGoalDifference</td>
                            <td>@team.SeasonPoints</td>
                        </tr>
                    }
                </tbody>
            </table>
            <MudDivider />
        }
    </MudTabPanel>
    <MudTabPanel Text="Men's Indoor">
        @foreach (var league in MensIndoorLeagueNames)
        {
            <h2>@league</h2>
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">Team</th>
                        <th scope="col">Played</th>
                        <th scope="col">Won</th>
                        <th scope="col">Drawn</th>
                        <th scope="col">Lost</th>
                        <th scope="col">Goals For</th>
                        <th scope="col">Goals Against</th>
                        <th scope="col">Goal Difference</th>
                        <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    @{int position = 0;}
                    @foreach (var team in Teams)
                    {
                        if (!teamIsVisible(league, team))
                            continue;
                        position += 1;
                        <tr>
                            <td>@position</td>
                            <td>@team.TeamName</td>
                            <td>@team.SeasonPlayed</td>
                            <td>@team.SeasonWon</td>
                            <td>@team.SeasonDrawn</td>
                            <td>@team.SeasonLost</td>
                            <td>@team.SeasonGoalsFor</td>
                            <td>@team.SeasonGoalsAgainst</td>
                            <td>@team.SeasonGoalDifference</td>
                            <td>@team.SeasonPoints</td>
                        </tr>
                    }
                </tbody>
            </table>
            <MudDivider />
        }
    </MudTabPanel>
    <MudTabPanel Text="Women's Indoor">
        @foreach (var league in WomensIndoorLeagueNames)
        {
            <h2>@league</h2>
            <table class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">Team</th>
                        <th scope="col">Played</th>
                        <th scope="col">Won</th>
                        <th scope="col">Drawn</th>
                        <th scope="col">Lost</th>
                        <th scope="col">Goals For</th>
                        <th scope="col">Goals Against</th>
                        <th scope="col">Goal Difference</th>
                        <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    @{int position = 0;}
                    @foreach (var team in Teams)
                    {
                        if (!teamIsVisible(league, team))
                            continue;
                        position += 1;
                        <tr>
                            <td>@position</td>
                            <td>@team.TeamName</td>
                            <td>@team.SeasonPlayed</td>
                            <td>@team.SeasonWon</td>
                            <td>@team.SeasonDrawn</td>
                            <td>@team.SeasonLost</td>
                            <td>@team.SeasonGoalsFor</td>
                            <td>@team.SeasonGoalsAgainst</td>
                            <td>@team.SeasonGoalDifference</td>
                            <td>@team.SeasonPoints</td>
                        </tr>
                    }
                </tbody>
            </table>
            <MudDivider />
        }
    </MudTabPanel>
</MudTabs>



@code {
    private Team selectedItem = null;

    private HashSet<Team> selectedItems = new HashSet<Team>();

    private Team[] Teams;

    private List<string> MensLeagueNames = new List<string>();
    private List<string> WomensLeagueNames = new List<string>();
    private List<string> MensIndoorLeagueNames = new List<string>();
    private List<string> WomensIndoorLeagueNames = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        var results = await httpClient.GetFromJsonAsync<List<Team>>("api/Teams");
        Teams = results.OrderByDescending(Team => Team.SeasonPoints).ToArray();

        int i = 1;
        foreach(var item in Teams)
        {
            item.Position = i;
            i++;
            if(item.League.Contains("Women") && item.League.Contains("Indoor"))
            {
                if (!WomensIndoorLeagueNames.Contains(item.League))
                    WomensIndoorLeagueNames.Add(item.League);
                continue;
            }
            else if(item.League.Contains("Men") && item.League.Contains("Indoor"))
            {
                if (!MensIndoorLeagueNames.Contains(item.League))
                    MensIndoorLeagueNames.Add(item.League);
                continue;
            }
            else if(item.League.Contains("Women", StringComparison.OrdinalIgnoreCase))
            {
                if (!WomensLeagueNames.Contains(item.League))
                    WomensLeagueNames.Add(item.League);
                continue;
            }
            else if(item.League.Contains("Men"))
            {
                if (!MensLeagueNames.Contains(item.League))
                    MensLeagueNames.Add(item.League);
                continue;
            }
        }
    }


    public bool teamIsVisible(string league, Team team)
    {
        if (team.League.Equals(league))
            return true;
        return false;
    }


    public class Team
    {
        public string TeamName { get; set; }
        public int Position { get; set; }
        public int SeasonPlayed { get; set; }
        public int SeasonWon { get; set; }
        public int SeasonDrawn { get; set; }
        public int SeasonLost { get; set; }
        public int SeasonGoalsFor { get; set; }
        public int SeasonGoalsAgainst { get; set; }
        public int SeasonGoalDifference { get; set; }
        public int SeasonPoints { get; set; }
        public string League { get; set; }

        public Team(string teamname, int seasonplayed, int seasonwon, int seasondrawn, int seasonlost, int seasongoalsfor, int seasongoalsagainst, int seasongoaldifference, int seasonpoints, string league)
        {
            this.TeamName = teamname;
            this.SeasonPlayed = seasonplayed;
            this.SeasonWon = seasonwon;
            this.SeasonDrawn = seasondrawn;
            this.SeasonLost = seasonlost;
            this.SeasonGoalsFor = seasongoalsfor;
            this.SeasonGoalsAgainst = seasongoalsagainst;
            this.SeasonGoalDifference = seasongoaldifference;
            this.SeasonPoints = seasonpoints;
            this.League = league;
        }
    }
}

