@page "/tables"
@using System.Net.Http.Json
@inject HttpClient httpClient

<h1>League Tables</h1>
<MudDivider />
<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    @if (Teams == null)
    {
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
    }
    <MudTabPanel Text="Men's">
        <MudExpansionPanels MultiExpansion="true" Elevation="0">
            @foreach (var league in MensLeagueNames)
            {
                <MudExpansionPanel Text="@league">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Position</th>
                                <th scope="col">Team</th>
                                <th scope="col">Played</th>
                                <th scope="col">Won</th>
                                <th scope="col">Drawn</th>
                                <th scope="col">Lost</th>
                                <th scope="col">Goals For</th>
                                <th scope="col">Goals Against</th>
                                <th scope="col">Goal Difference</th>
                                <th scope="col">Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int position = 0;}
                            @foreach (var team in Teams)
                            {
                                if (!teamIsVisible(league, team))
                                    continue;
                                position += 1;
                                <tr>
                                    <td>@position</td>
                                    <td>@team.TeamName</td>
                                    <td>@team.SeasonPlayed</td>
                                    <td>@team.SeasonWon</td>
                                    <td>@team.SeasonDrawn</td>
                                    <td>@team.SeasonLost</td>
                                    <td>@team.SeasonGoalsFor</td>
                                    <td>@team.SeasonGoalsAgainst</td>
                                    <td>@team.SeasonGoalDifference</td>
                                    <td>@team.SeasonPoints</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </MudExpansionPanel>
            }
        </MudExpansionPanels>
    </MudTabPanel>
    <MudTabPanel Text="Women's">
        <MudExpansionPanels MultiExpansion="true" Elevation="0">
            @foreach (var league in WomensLeagueNames)
            {
                <MudExpansionPanel Text="@league">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Position</th>
                                <th scope="col">Team</th>
                                <th scope="col">Played</th>
                                <th scope="col">Won</th>
                                <th scope="col">Drawn</th>
                                <th scope="col">Lost</th>
                                <th scope="col">Goals For</th>
                                <th scope="col">Goals Against</th>
                                <th scope="col">Goal Difference</th>
                                <th scope="col">Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int position = 0;}
                            @foreach (var team in Teams)
                            {
                                if (!teamIsVisible(league, team))
                                    continue;
                                position += 1;
                                <tr>
                                    <td>@position</td>
                                    <td>@team.TeamName</td>
                                    <td>@team.SeasonPlayed</td>
                                    <td>@team.SeasonWon</td>
                                    <td>@team.SeasonDrawn</td>
                                    <td>@team.SeasonLost</td>
                                    <td>@team.SeasonGoalsFor</td>
                                    <td>@team.SeasonGoalsAgainst</td>
                                    <td>@team.SeasonGoalDifference</td>
                                    <td>@team.SeasonPoints</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </MudExpansionPanel>
            }
        </MudExpansionPanels>
    </MudTabPanel>
    <MudTabPanel Text="Men's Indoor">
        <MudExpansionPanels MultiExpansion="true" Elevation="0">
            @foreach (var league in MensIndoorLeagueNames)
            {
                <MudExpansionPanel Text="@league">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Position</th>
                                <th scope="col">Team</th>
                                <th scope="col">Played</th>
                                <th scope="col">Won</th>
                                <th scope="col">Drawn</th>
                                <th scope="col">Lost</th>
                                <th scope="col">Goals For</th>
                                <th scope="col">Goals Against</th>
                                <th scope="col">Goal Difference</th>
                                <th scope="col">Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int position = 0;}
                            @foreach (var team in Teams)
                            {
                                if (!teamIsVisible(league, team))
                                    continue;
                                position += 1;
                                <tr>
                                    <td>@position</td>
                                    <td>@team.TeamName</td>
                                    <td>@team.SeasonPlayed</td>
                                    <td>@team.SeasonWon</td>
                                    <td>@team.SeasonDrawn</td>
                                    <td>@team.SeasonLost</td>
                                    <td>@team.SeasonGoalsFor</td>
                                    <td>@team.SeasonGoalsAgainst</td>
                                    <td>@team.SeasonGoalDifference</td>
                                    <td>@team.SeasonPoints</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </MudExpansionPanel>
            }
        </MudExpansionPanels>
    </MudTabPanel>
    <MudTabPanel Text="Women's Indoor">
        <MudExpansionPanels MultiExpansion="true" Elevation="0">
            @foreach (var league in WomensIndoorLeagueNames)
            {
                <MudExpansionPanel Text="@league">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Position</th>
                                <th scope="col">Team</th>
                                <th scope="col">Played</th>
                                <th scope="col">Won</th>
                                <th scope="col">Drawn</th>
                                <th scope="col">Lost</th>
                                <th scope="col">Goals For</th>
                                <th scope="col">Goals Against</th>
                                <th scope="col">Goal Difference</th>
                                <th scope="col">Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int position = 0;}
                            @foreach (var team in Teams)
                            {
                                if (!teamIsVisible(league, team))
                                    continue;
                                position += 1;
                                <tr>
                                    <td>@position</td>
                                    <td>@team.TeamName</td>
                                    <td>@team.SeasonPlayed</td>
                                    <td>@team.SeasonWon</td>
                                    <td>@team.SeasonDrawn</td>
                                    <td>@team.SeasonLost</td>
                                    <td>@team.SeasonGoalsFor</td>
                                    <td>@team.SeasonGoalsAgainst</td>
                                    <td>@team.SeasonGoalDifference</td>
                                    <td>@team.SeasonPoints</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </MudExpansionPanel>
            }
        </MudExpansionPanels>
    </MudTabPanel>
</MudTabs>



@code {
    // private Team selectedItem = null;

    // private HashSet<Team> selectedItems = new HashSet<Team>();
    private List<Team> Teams;
    private List<League> LeagueNames;

    private List<string> MensLeagueNames = new List<string>();
    private List<string> WomensLeagueNames = new List<string>();
    private List<string> MensIndoorLeagueNames = new List<string>();
    private List<string> WomensIndoorLeagueNames = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        var teamresults = await httpClient.GetFromJsonAsync<List<Team>>("api/Teams");
        Teams = teamresults.OrderByDescending(Team => Team.SeasonPoints).ToList();

        var leagueresults = await httpClient.GetFromJsonAsync<List<League>>("api/Leagues");
        LeagueNames = leagueresults.ToList();

        int i = 1;
        foreach(var item in Teams)
        {
            item.League = LeagueNames.FirstOrDefault(x => x.Id == item.League_ID).Name;

            item.Position = i;
            i++;

            if(item.Hockey_Category_ID == 1)
            {
                if (!MensLeagueNames.Contains(item.League))
                    MensLeagueNames.Add(item.League);
                continue;
            }
            else if(item.Hockey_Category_ID == 2)
            {
                if (!WomensLeagueNames.Contains(item.League))
                    WomensLeagueNames.Add(item.League);
                continue;
            }
            else if(item.Hockey_Category_ID == 3)
            {
                if (!MensIndoorLeagueNames.Contains(item.League))
                    MensIndoorLeagueNames.Add(item.League);
                continue;
            }
            if(item.Hockey_Category_ID == 4)
            {
                if (!WomensIndoorLeagueNames.Contains(item.League))
                    WomensIndoorLeagueNames.Add(item.League);
                continue;
            }
        }
        MensLeagueNames.Sort();
        MensIndoorLeagueNames.Sort();
        WomensLeagueNames.Sort();
        WomensIndoorLeagueNames.Sort();
    }


    public bool teamIsVisible(string league, Team team)
    {
        if (team.League.Equals(league))
            return true;
        return false;
    }


    public class Team
    {
        public string TeamName { get; set; }
        public int Position { get; set; }
        public int SeasonPlayed { get; set; }
        public int SeasonWon { get; set; }
        public int SeasonDrawn { get; set; }
        public int SeasonLost { get; set; }
        public int SeasonGoalsFor { get; set; }
        public int SeasonGoalsAgainst { get; set; }
        public int SeasonGoalDifference { get; set; }
        public int SeasonPoints { get; set; }
        public int League_ID { get; set; }
        public string League { get; set; }
        public int Hockey_Category_ID { get; set; }

        public Team(string teamname, int seasonplayed, int seasonwon, int seasondrawn, int seasonlost, int seasongoalsfor, int seasongoalsagainst, int seasongoaldifference, int seasonpoints, int league_id, int hockey_category_id)
        {
            this.TeamName = teamname;
            this.SeasonPlayed = seasonplayed;
            this.SeasonWon = seasonwon;
            this.SeasonDrawn = seasondrawn;
            this.SeasonLost = seasonlost;
            this.SeasonGoalsFor = seasongoalsfor;
            this.SeasonGoalsAgainst = seasongoalsagainst;
            this.SeasonGoalDifference = seasongoaldifference;
            this.SeasonPoints = seasonpoints;
            this.League_ID = league_id;
            this.Hockey_Category_ID = hockey_category_id;
        }
    }

    class League
    {
        public int Id { get; }
        public string Name { get; set; }
        public int Hockey_Category_ID { get; set; }

        public League(int id, string name, int hockey_category_id)
        {
            this.Id = id;
            this.Name = name;
            this.Hockey_Category_ID = hockey_category_id;
        }
    }
}

