@page "/Rankings"
@using DataLibrary
@using blazorserver.Models
@using blazorserver.Shared.Components
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config
@inject IDialogService DialogService


<hr/>
<MudPaper Class="d-flex justify-space-between py-2 px-1" Elevation="0">
    <h3>Rankings</h3>
    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Outlined.Info" OnClick="OpenInfoDialog">Info</MudButton>

</MudPaper>


@if (_teams == null)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}
else
{
    <MudSimpleTable Hover="true" Dense="true">
        <thead>
        <tr>
            <th>Rank</th>
            <th>Name</th>
            <th>Rating</th>
            <th>Movement</th>
        </tr>
        </thead>
        <tbody>
        @{ int i = 1;}
        @foreach (var row in _teams)
        {
            <tr>
                <td>@i</td>
                @{ var url = "team/" + row.Id;}
                <td><NavLink class="nav-link" href="@url">@row.Teamname</NavLink></td>
                <td>@row.Rating</td>

                @if (@row.Movement > 0)
                {
                    <td style="color: green">+@row.Movement</td>
                }
                else if (@row.Movement < 0)
                {
                    <td style="color: red">-@row.Movement</td>
                }
                else
                {
                    <td> </td>
                }
            </tr>
            i++;
        }
        </tbody>
    </MudSimpleTable>
}

@code {
    private List<Team> _teams;
    protected override async Task OnInitializedAsync()
    {
        var temp = await _data.LoadData<Team, dynamic>("SELECT * FROM Teams;", new {}, _config.GetConnectionString("default"));
        _teams = temp.OrderByDescending(x => x.Rating).ToList();
    }

    private void OpenInfoDialog()
    {
        DialogService.Show<EloInfoDialog>("Elo Information", new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true });
    }

}