@page "/Rankings"
@using DataLibrary
@using blazorserver.Models
@using blazorserver.Shared.Components
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config
@inject IDialogService _dialogService


<hr/>
<MudPaper Class="d-flex justify-space-between py-2 px-1" Elevation="0">
    <h3>Rankings</h3>
    <MudButton Variant="Variant.Text" StartIcon="@Icons.Material.Outlined.Info" OnClick="OpenInfoDialog">Info</MudButton>

</MudPaper>

<MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
    <MudTabPanel Text="Men's">
        @if (_men == null)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
        else
        {
            <MudSimpleTable Hover="true" Dense="true" Elevation="0">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Movement</th>
                </tr>
                </thead>
                <tbody>
                @{ int i = 1; }
                @foreach (var row in _men)
                {
                    <tr>
                        <td>@i</td>
                        @{ var url = "team/" + row.Id; }
                        <td><NavLink class="nav-link" href="@url">@row.Teamname</NavLink></td>
                        <td>@row.Rating</td>

                        @if (@row.Movement > 0)
                        {
                            <td style="color: green">+@row.Movement</td>
                        }
                        else if (@row.Movement < 0)
                        {
                            <td style="color: red">-@row.Movement</td>
                        }
                        else
                        {
                            <td> </td>
                        }
                    </tr>
                    i++;
                }
                </tbody>
            </MudSimpleTable>
        }
    </MudTabPanel>
    <MudTabPanel Text="Women's">
        @if (_women == null)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
        else
        {
            <MudSimpleTable Hover="true" Dense="true" Elevation="0">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Movement</th>
                </tr>
                </thead>
                <tbody>
                @{ int i = 1;}
                @foreach (var row in _women)
                {
                    <tr>
                        <td>@i</td>
                        @{ var url = "team/" + row.Id;}
                        <td><NavLink class="nav-link" href="@url">@row.Teamname</NavLink></td>
                        <td>@row.Rating</td>
        
                        @if (@row.Movement > 0)
                        {
                            <td style="color: green">+@row.Movement</td>
                        }
                        else if (@row.Movement < 0)
                        {
                            <td style="color: red">-@row.Movement</td>
                        }
                        else
                        {
                            <td> </td>
                        }
                    </tr>
                    i++;
                }
                </tbody>
            </MudSimpleTable>
        }
    </MudTabPanel>
    <MudTabPanel Text="Men's Indoor">
        @if (_menindoor == null)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
        else
        {
            <MudSimpleTable Hover="true" Dense="true" Elevation="0">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Movement</th>
                </tr>
                </thead>
                <tbody>
                @{ int i = 1;}
                @foreach (var row in _menindoor)
                {
                    <tr>
                        <td>@i</td>
                        @{ var url = "team/" + row.Id;}
                        <td><NavLink class="nav-link" href="@url">@row.Teamname</NavLink></td>
                        <td>@row.Rating</td>
        
                        @if (@row.Movement > 0)
                        {
                            <td style="color: green">+@row.Movement</td>
                        }
                        else if (@row.Movement < 0)
                        {
                            <td style="color: red">-@row.Movement</td>
                        }
                        else
                        {
                            <td> </td>
                        }
                    </tr>
                    i++;
                }
                </tbody>
            </MudSimpleTable>
        }
    </MudTabPanel>
    <MudTabPanel Text="Women's Indoor">
        @if (_womenindoor == null)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
        }
        else
        {
            <MudSimpleTable Hover="true" Dense="true" Elevation="0">
                <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Movement</th>
                </tr>
                </thead>
                <tbody>
                @{ int i = 1; }
                @foreach (var row in _womenindoor)
                {
                    <tr>
                        <td>@i</td>
                        @{ var url = "team/" + row.Id; }
                        <td><NavLink class="nav-link" href="@url">@row.Teamname</NavLink></td>
                        <td>@row.Rating</td>

                        @if (@row.Movement > 0)
                        {
                            <td style="color: green">+@row.Movement</td>
                        }
                        else if (@row.Movement < 0)
                        {
                            <td style="color: red">-@row.Movement</td>
                        }
                        else
                        {
                            <td> </td>
                        }
                    </tr>
                    i++;
                }
                </tbody>
            </MudSimpleTable>
        }
    </MudTabPanel>
</MudTabs>




@code {
    private List<Team> _men;
    private List<Team> _women;
    private List<Team> _menindoor;
    private List<Team> _womenindoor;
    
    protected override async Task OnInitializedAsync()
    {
        _men = await _data.LoadData<Team, dynamic>("SELECT * FROM Teams WHERE Active = 1 AND Hockey_Category_ID = 1 ORDER BY Rating desc", new {}, _config.GetConnectionString("default"));
        _women = await _data.LoadData<Team, dynamic>("SELECT * FROM Teams WHERE Active = 1 AND Hockey_Category_ID = 2 ORDER BY Rating desc", new {}, _config.GetConnectionString("default"));
        _menindoor = await _data.LoadData<Team, dynamic>("SELECT * FROM Teams WHERE Active = 1 AND Hockey_Category_ID = 3 ORDER BY Rating desc", new {}, _config.GetConnectionString("default"));
        _womenindoor = await _data.LoadData<Team, dynamic>("SELECT * FROM Teams WHERE Active = 1 AND Hockey_Category_ID = 4 ORDER BY Rating desc", new {}, _config.GetConnectionString("default"));
    }

    private void OpenInfoDialog()
    {
        _dialogService.Show<EloInfoDialog>("Elo Information", new DialogOptions() { MaxWidth = MaxWidth.Medium, FullWidth = true });
    }

}