@page "/Results"
@using DataLibrary
@using blazorserver.Models
@using Microsoft.Extensions.Configuration
@using System.Globalization
@inject IDataAccess _data
@inject IConfiguration _config

<hr/>
<h3>Results</h3>


<MudGrid>
    <!-- CATEGORY -->
    <MudItem xs="6" sm="4" md="2">
        <MudSelect Label="Category" Placeholder="Select category" @bind-Value="SelectedCategory" OffsetY="true" Variant="Variant.Outlined" >
            <MudSelectItem Value=@("0")>All</MudSelectItem>
            <MudSelectItem Value=@("1")>Men's</MudSelectItem>
            <MudSelectItem Value=@("2")>Women's</MudSelectItem>
            <MudSelectItem Value=@("3")>Men's Indoor</MudSelectItem>
            <MudSelectItem Value=@("4")>Women's Indoor</MudSelectItem>
        </MudSelect>
    </MudItem>

    <!-- LEAGUE -->
    <MudItem xs="10" sm="5" md="3">
        <MudSelect Label="League" Placeholder="Select league" @bind-Value="SelectedLeague" OffsetY="true" Dense="true" Variant="Variant.Outlined">
            @foreach (var league in _leagues)
            {
                if (league.Hockey_Category_Id.ToString() == SelectedCategory || league.Hockey_Category_Id.ToString() == "0")
                {
                    <MudSelectItem Value=@(league)>@league.Name</MudSelectItem>
                }
            }
        </MudSelect>
    </MudItem>

    <!-- OPTIONAL: TEAM -->
    <MudItem xs="12" sm="6" md="4">
        <MudSelect Label="Team" Placeholder="Select team" @bind-Value="SelectedTeam" OffsetY="true" Dense="true" Variant="Variant.Outlined">
            @foreach (var team in _teams)
            {
                if (SelectedLeague != null && team.League_ID == SelectedLeague.Id)
                {
                    <MudSelectItem Value=@(team)>@team.Teamname</MudSelectItem>
                }
            }
        </MudSelect>
    </MudItem>

    <!-- SEARCH -->
    <MudIconButton Icon="@Icons.Material.Filled.Search" OnClick="SearchButton"></MudIconButton>
</MudGrid>

<hr/>
@if (_showResults)
{
    if (_fixtures != null)
    {
        foreach (var fixture in _fixtures)
        {
            var team1Name = _teams.Single(x => x.Id == fixture.Team_1_ID).Teamname;
            var team2Name = _teams.Single(x => x.Id == fixture.Team_2_ID).Teamname;
            // Match Card
            <MudGrid>
                <MudItem xs="12" md="12">
                    <MudPaper Class="d-flex py-2 px-1" Style="background-color: #e3e3e3">
                        <MudItem xs="3">
                            <MudPaper Class="pa-2 mx-2 mud-width-full" Elevation="0" Square="true">@fixture.Date.ToString("dd MMMM yyyy", CultureInfo.CurrentCulture)</MudPaper>
                        </MudItem>
                        <MudItem xs="12">
                            <MudPaper Class="d-flex justify-content-center align-center">
                                <MudItem xs="3" Elevation="0" Class="mud-text-align-center">
                                    <MudText Typo="Typo.button">@team1Name</MudText>
                                </MudItem>
                                <MudItem xs="3" Elevation="0" Class="d-flex align-center flex-column">
                                    <MudText Typo="Typo.overline">@_leagues.Single(x => x.Id == fixture.League_ID).Name</MudText>
                                    <MudText Typo="Typo.overline">@fixture.Team_1_Score - @fixture.Team_2_Score</MudText>
                                    <MudText Typo="Typo.overline">@fixture.Location</MudText>
                                </MudItem>
                                <MudItem xs="3" Elevation="0" Class="mud-text-align-center">
                                    <MudText Typo="Typo.button">@team2Name</MudText>
                                </MudItem>
                            </MudPaper>
                        </MudItem>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        }

    }
}

@code {
    private string SelectedCategory { get; set; }
    private League SelectedLeague { get; set; }
    private Team SelectedTeam { get; set; }

    private List<Team> _teams;
    private List<League> _leagues;
    private List<Fixture> _fixtures;

    private bool _showResults;

    protected override async Task OnInitializedAsync()
    {
        _teams = await _data.LoadData<Team, dynamic>("SELECT * FROM Teams;", new {}, _config.GetConnectionString("default"));
        _leagues = await _data.LoadData<League, dynamic>("SELECT * FROM Leagues;", new {}, _config.GetConnectionString("default"));
    }

    private async Task SearchButton()
    {
        _showResults = true;
        await LoadFixturesAsync(SelectedCategory, SelectedLeague, SelectedTeam);

    }

    private async Task LoadFixturesAsync(string category, League league, Team team)
    {
        var sql = "";
        if (category is null or "0")
        {
            sql = $"SELECT * FROM Fixtures order by Date desc";
        }
        else if (league == null)
        {
            sql = $"SELECT * FROM Fixtures WHERE Hockey_Category_ID = {category} order by Date desc";
        }
        else if (team == null)
        {
            sql = $"SELECT * FROM Fixtures WHERE Hockey_Category_ID = {category} AND League_ID = {league.Id} order by Date desc";
        }
        else
        {
            sql = $"SELECT * FROM Fixtures WHERE Hockey_Category_ID = {category} AND League_ID = {league.Id} AND (Team_1_ID = {team.Id} OR Team_2_ID = {team.Id}) order by Date desc";
        }
        _fixtures = await _data.LoadData<Fixture, dynamic>(sql, new {}, _config.GetConnectionString("default"));
    }
}
