@page "/team/{Id}"
@using DataLibrary
@using blazorserver.Models
@using blazorserver.Components
@using Microsoft.Extensions.Configuration
@inject IDataAccess _data
@inject IConfiguration _config

@if (Team == null)
{
    <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
}
else
{
    <hr/>
    <h2>@Team.Teamname</h2> 
    
    // Form
    <hr/>
    <h4>Form</h4>
    @foreach (var game in RecentForm)
    {
        // Home win
        if ((game.Team_1_ID == Team.Id) && (game.Team_1_Score > game.Team_2_Score))
        {
            <MudButton DisableElevation="true" DisableRipple="true" Color="Color.Success" Variant="Variant.Filled">@game.Team_1_Score - @game.Team_2_Score</MudButton>
        }
        // Away win
        if ((game.Team_2_ID == Team.Id) && (game.Team_2_Score > game.Team_1_Score))
        {
            <MudButton DisableElevation="true" Variant="Variant.Filled" Color="Color.Success">@game.Team_1_Score - @game.Team_2_Score</MudButton>
        }
        // Home Draw
        if ((game.Team_1_ID == Team.Id) && (game.Team_1_Score == game.Team_2_Score))
        {
            <MudButton DisableElevation="true" DisableRipple="true" Variant="Variant.Filled" Color="Color.Default">@game.Team_1_Score - @game.Team_2_Score</MudButton>
        }
        // Home Draw
        if ((game.Team_2_ID == Team.Id) && (game.Team_1_Score == game.Team_2_Score))
        {
            <MudButton DisableElevation="true" DisableRipple="true" Variant="Variant.Filled" Color="Color.Default">@game.Team_1_Score - @game.Team_2_Score</MudButton>
        }
        // Home loss
        if ((game.Team_1_ID == Team.Id) && (game.Team_1_Score < game.Team_2_Score))
        {
            <MudButton DisableElevation="true" DisableRipple="true" Variant="Variant.Filled" Color="Color.Error">@game.Team_1_Score - @game.Team_2_Score</MudButton>
        }
        // Away loss
        if ((game.Team_2_ID == Team.Id) && (game.Team_2_Score < game.Team_1_Score))
        {
            <MudButton DisableElevation="true" DisableRipple="true" Variant="Variant.Filled" Color="Color.Error">@game.Team_1_Score - @game.Team_2_Score</MudButton>
        }
    }

    <hr>
    <h2>Seasons</h2>

    <MudSimpleTable Hover="true" Breakpoint="Breakpoint.Sm" Height="500px" FixedHeader="true"
                    Dense="true">
        <thead>
        <th>Season</th>
        <th>League</th>
        <th>League Placing</th>
        <th>Played</th>
        <th>Wins</th>
        <th>Draws</th>
        <th>Losses</th>
        <th>Goals For</th>
        <th>Goals Against</th>
        <th>Goal Difference</th>
        <th>Points</th>
        <th>Sponsor</th>
        <th>Rating</th>
        </thead>
        <tbody>
        @foreach (var season in Snapshots)
        {
            <tr>
                <td>@Seasons.Single(x => x.Id == season.SeasonId).Name</td>
                <td>@Leagues.Single(x => x.Id == season.LeagueId).Name</td>
                <td>@season.LeaguePlacing</td>
                <td>@season.Played</td>
                <td>@season.Won</td>
                <td>@season.Drawn</td>
                <td>@season.Lost</td>
                <td>@season.GoalsFor</td>
                <td>@season.GoalsAgainst</td>
                <td>@season.GoalDifference</td>
                <td>@season.Points</td>
                <td>@season.Sponsor</td>
                <td>@season.Rating</td>
            </tr>
        }
        <tr>
            <td>Total</td>
            <td>@Leagues.Single(x => x.Id == Team.League_ID).Name</td>
            <td>@Team.League_Rank</td>
            <td>@{ var temp = Team.TotalPlayed + Team.SeasonPlayed;}@temp</td>
            <td>@{ temp = Team.TotalWon + Team.SeasonWon;}@temp</td>
            <td>@{ temp = Team.TotalDrawn + Team.SeasonDrawn;}@temp</td>
            <td>@{ temp = Team.TotalLost + Team.SeasonLost;}@temp</td>
            <td>@{ temp = Team.TotalGoalsFor + Team.SeasonGoalsFor;}@temp</td>
            <td>@{ temp = Team.TotalGoalsAgainst + Team.SeasonGoalsAgainst;}@temp</td>
            <td>@{ temp = Team.TotalGoalDifference + Team.SeasonGoalDifference;}@temp</td>
            <td>@{ temp = Team.TotalPoints + Team.SeasonPoints;}@temp</td>
            <td>@Team.Sponsor</td>
            <td>@Team.Rating</td>
        </tr>
        </tbody>
    </MudSimpleTable>
    <hr/>
    
    // Results in detail
    <MudGrid Class="d-flex justify-content-between">
        <MudPaper Elevation="0"><h3> Results</h3></MudPaper>
        <MudPaper Elevation="0">
            <MudButton Variant="Variant.Text" Size="Size.Small" OnClick="ShowPrev" Disabled="@_hidePrev">Prev</MudButton>
            <MudButton Variant="Variant.Text" Size="Size.Small" OnClick="ShowNext" Disabled="@_hideNext">Next</MudButton>
        </MudPaper>
    </MudGrid>
    
    @foreach (var fixture in Results)
    {
        var teamOne = Teams.Single(x => x.Id == fixture.Team_1_ID).Teamname;
        var teamTwo = Teams.Single(x => x.Id == fixture.Team_2_ID).Teamname;
        <FixtureCard Leagues="@Leagues" CurrentFixture="@fixture" TeamOneName="@teamOne" TeamTwoName="@teamTwo"/>
    }
}

@code {
    [Parameter]
    public string Id { get; set; }

    private Team Team { get; set; }
    private List<Form> RecentForm { get; set; }
    private List<SeasonSnapshot> Snapshots { get; set; }
    private List<League> Leagues { get; set; }
    private List<Season> Seasons { get; set; }
    private List<Fixture> Results { get; set; }
    private List<Team> Teams { get; set; }
    
    private int _offset;
    private const int Take = 5;
    private bool _hidePrev = true;
    private bool _hideNext;
    private int _fixtureCount;
    
    protected override async Task OnInitializedAsync()
    {
        _offset = 0;
        _hidePrev = true;
        var connectionString = _config.GetConnectionString("default");
        
        RecentForm = await _data.LoadData<Form, dynamic>($@"SELECT Team_1_ID, Team_2_ID, Team_1_Score, Team_2_Score FROM Fixtures 
WHERE Team_1_ID = {Id} OR Team_2_ID = {Id}
ORDER BY Date desc LIMIT 5", new {}, connectionString);
        Snapshots = await _data.LoadData<SeasonSnapshot, dynamic>($"SELECT * FROM SeasonSnapshot WHERE TeamId = {Id};", new {}, connectionString);
        Leagues = await _data.LoadData<League, dynamic>("SELECT * FROM Leagues", new {}, connectionString);
        Seasons = await _data.LoadData<Season, dynamic>("SELECT * FROM Seasons", new {}, connectionString);
        Teams = await _data.LoadData<Team, dynamic>("SELECT * FROM Teams", new {}, connectionString);
        await LoadFixturesAsync();
        if (_fixtureCount <= Take) _hideNext = true;
        Team = Teams.Single(x => x.Id == Convert.ToInt32(Id));
    }
    
    private async Task LoadFixturesAsync()
    {
        var sql = $"SELECT * FROM Fixtures WHERE Team_1_ID = {Id} OR Team_2_ID = {Id} ORDER BY Date desc LIMIT {_offset},{Take};";
        var countSql = $"SELECT COUNT(*) FROM Fixtures WHERE Team_1_ID = {Id} OR Team_2_ID = {Id} order by Date desc;";
        Results = await _data.LoadData<Fixture, dynamic>(sql, new {}, _config.GetConnectionString("default"));
        _fixtureCount = await _data.LoadDataSingle<int, dynamic>(countSql, new {}, _config.GetConnectionString("default"));
    }
    
    private async Task ShowNext()
    {
        _offset += Take;
        if (_offset > _fixtureCount)
        {
            _offset = _fixtureCount;
            _hideNext = true;
            return;
        }
        await LoadFixturesAsync();
        if (_offset >= _fixtureCount - Take) _hideNext = true;
        if (_offset >= Take) _hidePrev = false;
    }

    private async Task ShowPrev()
    {
        _offset -= Take;
        if (_offset < 0)
        {
            _offset = 0;
            _hidePrev = true;
        }
        await LoadFixturesAsync();
        if (_offset < Take)
        {
            _hidePrev = true;
        }
        _hideNext = false;
    }
}