@model IEnumerable<Web.Models.League>

@{
    ViewData["Title"] = "League Tables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{

   IEnumerable<Team> Teams = ViewData["Teams"] as IEnumerable<Team>;
   IEnumerable<League> Leagues = ViewData["Leagues"] as IEnumerable<League>;
}

<h1>League Tables</h1>
<hr>

<div class="container">
    <ul id="tabs" class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">Men</a>
        </li>
        <li class="nav-item">
            <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">Women</a>
        </li>
        <li class="nav-item">
            <a id="tab-C" href="#pane-C" class="nav-link" data-toggle="tab" role="tab">Men Indoor</a>
        </li>
        <li class="nav-item">
            <a id="tab-D" href="#pane-D" class="nav-link" data-toggle="tab" role="tab">Women Indoor</a>
        </li>
    </ul>


    <div id="content" class="tab-content" role="tablist">
        <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
            <!-- HEADER -->
            @{int im = 0;}
            @foreach (var league in Leagues)
            {
                @if (league.Hockey_Category_Id == 1)
                {
                    <div class="card-header" role="tab" id="heading-A-@im">
                        <h5 class="mb-0">
                            <!-- Note: `data-parent` removed from here -->
                            <a data-toggle="collapse" href="#collapse-A-@im" aria-expanded="true" aria-controls="collapse-A-@im">
                                @league.Name
                            </a>
                        </h5>
                    </div>

                    <!-- CONTENT -->
                    <div id="collapse-A-@im" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-A-@im">
                        <div class="card-body">
                            <table class="table table-hover table-condensed table-responsive">
                                <thead>
                                <tr>
                                    <th style="width: 5%">Position</th>
                                    <th style="width: 45%">Team</th>
                                    <th style="width: 5%">Played</th>
                                    <th style="width: 5%">Won</th>
                                    <th style="width: 5%">Drawn</th>
                                    <th style="width: 5%">Lost</th>
                                    <th style="width: 5%">GF</th>
                                    <th style="width: 5%">GA</th>
                                    <th style="width: 5%">GD</th>
                                    <th style="width: 5%">Points</th>
                                </tr>
                                </thead>
                                <tbody>
                                    @foreach (var team in Teams)
                                    {
                                        @if (league.Id == team.League_ID)
                                        {
                                            <tr>
                                                <td>@team.League_Rank</td>
                                                <td>@team.Teamname</td>
                                                <td>@team.SeasonPlayed</td>
                                                <td>@team.SeasonWon</td>
                                                <td>@team.SeasonDrawn</td>
                                                <td>@team.SeasonLost</td>
                                                <td>@team.SeasonGoalsFor</td>
                                                <td>@team.SeasonGoalsAgainst</td>
                                                <td>@team.SeasonGoalDifference</td>
                                                <td>@team.SeasonPoints</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- -->
                }
                im++;
            }
            <!--  -->
        </div>
        <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
            <!-- HEADER -->
            @{int iw = 0;}
            @foreach (var league in Leagues)
            {
                @if (league.Hockey_Category_Id == 2)
                {
                    <div class="card-header" role="tab" id="heading-A-@iw">
                        <h5 class="mb-0">
                            <!-- Note: `data-parent` removed from here -->
                            <a data-toggle="collapse" href="#collapse-A-@iw" aria-expanded="true" aria-controls="collapse-A-@iw">
                                @league.Name
                            </a>
                        </h5>
                    </div>

                    <!-- CONTENT -->
                    <div id="collapse-A-@iw" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-A-@iw">
                        <div class="card-body">
                            <table class="table table-hover table-condensed table-responsive">
                                <thead>
                                <tr>
                                    <th style="width: 5%">Position</th>
                                    <th style="width: 45%">Team</th>
                                    <th style="width: 5%">Played</th>
                                    <th style="width: 5%">Won</th>
                                    <th style="width: 5%">Drawn</th>
                                    <th style="width: 5%">Lost</th>
                                    <th style="width: 5%">GF</th>
                                    <th style="width: 5%">GA</th>
                                    <th style="width: 5%">GD</th>
                                    <th style="width: 5%">Points</th>
                                </tr>
                                </thead>
                                <tbody>
                                    @foreach (var team in Teams)
                                    {
                                        @if (league.Id == team.League_ID)
                                        {
                                            <tr>
                                                <td>@team.League_Rank</td>
                                                <td>@team.Teamname</td>
                                                <td>@team.SeasonPlayed</td>
                                                <td>@team.SeasonWon</td>
                                                <td>@team.SeasonDrawn</td>
                                                <td>@team.SeasonLost</td>
                                                <td>@team.SeasonGoalsFor</td>
                                                <td>@team.SeasonGoalsAgainst</td>
                                                <td>@team.SeasonGoalDifference</td>
                                                <td>@team.SeasonPoints</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- -->
                }
                iw++;
            }
            <!--  -->
        </div>
        <div id="pane-C" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-C">
            <!-- HEADER -->
            @{int imi = 0;}
            @foreach (var league in Leagues)
            {
                @if (league.Hockey_Category_Id == 3)
                {
                    <div class="card-header" role="tab" id="heading-A-@imi">
                        <h5 class="mb-0">
                            <!-- Note: `data-parent` removed from here -->
                            <a data-toggle="collapse" href="#collapse-A-@imi" aria-expanded="true" aria-controls="collapse-A-@imi">
                                @league.Name
                            </a>
                        </h5>
                    </div>

                    <!-- CONTENT -->
                    <div id="collapse-A-@imi" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-A-@imi">
                        <div class="card-body">
                            <table class="table table-hover table-condensed table-responsive">
                                <thead>
                                <tr>
                                    <th style="width: 5%">Position</th>
                                    <th style="width: 45%">Team</th>
                                    <th style="width: 5%">Played</th>
                                    <th style="width: 5%">Won</th>
                                    <th style="width: 5%">Drawn</th>
                                    <th style="width: 5%">Lost</th>
                                    <th style="width: 5%">GF</th>
                                    <th style="width: 5%">GA</th>
                                    <th style="width: 5%">GD</th>
                                    <th style="width: 5%">Points</th>
                                </tr>
                                </thead>
                                <tbody>
                                    @foreach (var team in Teams)
                                    {
                                        @if (league.Id == team.League_ID)
                                        {
                                            <tr>
                                                <td>@team.League_Rank</td>
                                                <td>@team.Teamname</td>
                                                <td>@team.SeasonPlayed</td>
                                                <td>@team.SeasonWon</td>
                                                <td>@team.SeasonDrawn</td>
                                                <td>@team.SeasonLost</td>
                                                <td>@team.SeasonGoalsFor</td>
                                                <td>@team.SeasonGoalsAgainst</td>
                                                <td>@team.SeasonGoalDifference</td>
                                                <td>@team.SeasonPoints</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- -->
                }
                imi++;
            }
            <!--  -->
        </div>
        <div id="pane-D" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-D">
            <!-- HEADER -->
            @{int iwi = 0;}
            @foreach (var league in Leagues)
            {
                @if (league.Hockey_Category_Id == 4)
                {
                    <div class="card-header" role="tab" id="heading-A-@iwi">
                        <h5 class="mb-0">
                            <!-- Note: `data-parent` removed from here -->
                            <a data-toggle="collapse" href="#collapse-A-@iwi" aria-expanded="true" aria-controls="collapse-A-@iwi">
                                @league.Name
                            </a>
                        </h5>
                    </div>

                    <!-- CONTENT -->
                    <div id="collapse-A-@iwi" class="collapse" data-parent="#content" role="tabpanel" aria-labelledby="heading-A-@iwi">
                        <div class="card-body">
                            <table class="table table-hover table-condensed table-responsive">
                                <thead>
                                <tr>
                                    <th style="width: 5%">Position</th>
                                    <th style="width: 45%">Team</th>
                                    <th style="width: 5%">Played</th>
                                    <th style="width: 5%">Won</th>
                                    <th style="width: 5%">Drawn</th>
                                    <th style="width: 5%">Lost</th>
                                    <th style="width: 5%">GF</th>
                                    <th style="width: 5%">GA</th>
                                    <th style="width: 5%">GD</th>
                                    <th style="width: 5%">Points</th>
                                </tr>
                                </thead>
                                <tbody>
                                    @foreach (var team in Teams)
                                    {
                                        @if (league.Id == team.League_ID)
                                        {
                                            <tr>
                                                <td>@team.League_Rank</td>
                                                <td>@team.Teamname</td>
                                                <td>@team.SeasonPlayed</td>
                                                <td>@team.SeasonWon</td>
                                                <td>@team.SeasonDrawn</td>
                                                <td>@team.SeasonLost</td>
                                                <td>@team.SeasonGoalsFor</td>
                                                <td>@team.SeasonGoalsAgainst</td>
                                                <td>@team.SeasonGoalDifference</td>
                                                <td>@team.SeasonPoints</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- -->
                }
                iwi++;
            }
            <!--  -->
        </div>
    </div>
</div>
