@model Web.Models.Team

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teamname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teamname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.League_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.League_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sponsor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sponsor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Movement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Movement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonDrawn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonDrawn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonGoalDifference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonGoalDifference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonGoalsAgainst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonGoalsAgainst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonGoalsFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonGoalsFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonLost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonLost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonPlayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonPlayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeasonWon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeasonWon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDrawn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDrawn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGoalDifference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalGoalDifference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGoalsAgainst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalGoalsAgainst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalGoalsFor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalGoalsFor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalLost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalLost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPlayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPlayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPoints)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPoints)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalWon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalWon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hockey_Category_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hockey_Category_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.League_Rank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.League_Rank)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
